.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 100%;
}
.CodeMirror-scroll {
  /* Set scrolling behaviour here */
  overflow: auto;
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: gray; /* The little square between H and V scrollbars */
}