
#consoletextarea {
	  font-family: monospace;
	  color: #428BDD;
	  background-color:#0F192A;
	  margin-left:10px;
}

.errorTextLineNumber {
	color: yellow;
	text-decoration: underline;
}
.warningText {
	color: orange;
}
.errorText {
	color: red;
}
.betaText {
	color: orange;
}
