HTML, BODY
{
	height: 100%;
	width: 100%;
	margin: 0;
	top: 0px;
	left: 0px;
}
#leftpanel
{
	position:absolute;
	left: 5px;
	top: 46px;
	bottom: 0;
	width: 50%;
	height: 100%;
	float: left;
}
#righttophalf
{
	position: absolute;
	top: 45px;
	right: 5px;
	bottom: 50%;
	left: 50%;
	float: right;
}
#rightbottomhalf
{
	position: absolute;
	top: 50% + 3px;
	right: 5px;
	bottom: 0;
	left: 50%;
	float: right;
	
}
#uppertoolbar
{
	    border-radius: 30px 30px 0px 0px;
padding-left: 30px;
padding-top: 5px;
	position: absolute;
	display: block;
	left: 5px;
	right: 5px;
	height: 35px;
	top: 5px;
	color:gray;
	background-color: #4d4d4d;
	overflow: hidden;
	  white-space: nowrap;

border-bottom-width: 5px;
border-bottom-color: white;

	-webkit-box-shadow: inset 0px 0 53px -21px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0 53px -21px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 53px -21px rgba(0,0,0,0.75);

}
.upperarea
{
	height: 100%;
	width: 100%;
}
.lowertoolbar
{
	display: block;
	left: 3px;
	right: 0px;
	height: 35px;
	padding-top:5px;
	background-color:#444444;
}
.lowerarea
{
	color: #808080;
	background-color: #202020;
	position: absolute;
	top: 36px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: auto;
	word-wrap: normal;
	 -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
}
#verticaldragbar {
	position: absolute;
	top: 30px;
	left: 50%;
	background-color:#555555;
	height: 100%;
	float: left;
	width: 5px;
	cursor: col-resize;

}
#horizontaldragbar {
	position: absolute;
	background-color:#555555;
	top: 50%;
	left: 50%;
	right: 5px;
	float: right;
	height: 5px;
	cursor: row-resize;

}
