HTML, BODY
{
	height: 100%;
	width: 100%;
	margin: 0;
	top: 0px;
	left: 0px;
}
.leftpanel
{
	left: 0px;
	top: 30px;
	bottom: 0px;
	width: 50%;
	height: 100%;
	float: left;
}
.righttophalf
{
	top: 30px;
	right: 0px;
	width: 50%;
	height: 50%;
	float: left;
}
.rightbottomhalf
{
	position: relative;
	right: 0px;
	height: 50%;
	width: 50%;
	float: left;
	top: 30px;
}
.uppertoolbar
{
	position: absolute;
	display: block;
	left: 2px;
	right: 0px;
	height: 30px;
	top: 0px;
	background-color: #444444;
	overflow: hidden;
}
.upperarea
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 2px;
	right: 0;
}
.lowertoolbar
{
	display: block;
	left: 2px;
	right: 0px;
	height: 20px;

	padding-top:1px;
	background-color:#444444;
}
.lowerarea
{
	color: #808080;
	background-color: #0F192A;
	position: absolute;
	top: 21px;
	bottom: 0px;
	left: 0px;
	right: 0;
	overflow: auto;
	word-wrap: normal;
}
