.lowertoolbar  {
	padding:0;
	margin:0;
	margin-top:1px;
	border:0;
	white-space: nowrap;
	overflow: hidden;
	line-height:0;
	height: 100%;
	width:100%;
	line-height:0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.lowertoolbar  img {
   padding:0px; 
   margin:0px;
}


.lowertoolbar  #clickMe{
	padding:0px;
	margin:0px;
	height:16px;
   padding-left:2px;
   padding-right:3px;
}

.lowertoolbar  a {
	margin:0;
	padding:0;
}
.lowertoolbar  form {
	padding:0;
	margin:0;
	display:inline;

	position:absolute;
	top:3px;
	right:10px;
}
.lowertoolbar  input {
	padding:0;
	border:0;
	height:16px;
}

#sounddat{
	padding-top:0px;
	margin-top:0px;
	width:100px;
}
#soundbutton {
	padding-left:10px;
}

#soundButtonPress {
/*	background-color: #808080;
	color:white;*/
	padding-left:3px;
	padding-right:3px;
}
#soundbutton {vertical-align:top;}
/* */
