.lowertoolbar  {
	padding:0;
	margin:0;
	margin-top:0px;
	padding-top:10px;
	border:0;
	white-space: nowrap;
	overflow: hidden;
	line-height:0;
	height: 100%;
	width:100%;
	line-height:0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.lowertoolbar  img {
}


.lowertoolbar  #clickMe{
	padding:0px;
	margin:0px;
	height:16px;
   padding-left:2px;
   padding-right:3px;
}

.lowertoolbar  a {
	margin:0;
	padding:0;
}
.lowertoolbar  form {
	padding:0;
	margin:0;
	display:inline;

	position:absolute;
	top:3px;
	right:10px;
}
.lowertoolbar  input {
	padding:0;
	border:0;
	height:16px;
}

canvas {
    image-rendering: optimizeSpeed;             /*                     */
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;          /* Firefox             */
    image-rendering: -o-crisp-edges;            /* Opera               */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
    image-rendering: optimize-contrast;         /* CSS3 Proposed       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}

img {
	image-rendering: -moz-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}
#soundbar {
	margin-top: 4px;
}

.lowertoolbar{
 	-webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.4);
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.4);
}

#sounddat{
	padding-top:0px;
	margin-top:0px;
	width:100px;
}
.soundbutton {
	margin-top	:10px;
}

#soundButtonPress {
/*	background-color: #808080;
	color:white;*/
	padding-left:3px;
	padding-right:3px;
}
#soundbutton {vertical-align:top;}
/* */
