.env
bin/
**/.DS_Store
.vscode
.build
logs*

*.swp
src - Kopie
node_modules/
__pycache__

data
scraped_puzzles
scraped_games
scrape_logs
min_games
example_games.json
example_sprites.json
example_sprites_names.txt
outputs
logs
pretty_trees
simplified_games
script-doctor-py
script-doctor
scratch
transitions
vids
