.env
bin/
**/.DS_Store
.vscode
.build
logs*

*.swp
src - Kopie
node_modules/
__pycache__

scraped_games*
min_games/*
example_games.json
example_sprites.json
example_sprites_names.txt
outputs
logs
script-doctor-py
script-doctor
