:root {
    color-scheme: light dark;
}

body {
    color-scheme: dark;
}

/* Based on the theme at http://bonsaiden.github.com/JavaScript-Garden */

/*<!--match-->*/
.cm-s-midnight span.CodeMirror-matchhighlight {
    background-color: light-dark(white, #494949);
}

.cm-s-midnight.CodeMirror-focused span.CodeMirror-matchhighlight {
    background-color: light-dark(#314D67, white) !important;
}

/*<!--activeline-->*/
.cm-s-midnight .CodeMirror-activeline-background {
    background-color: light-dark(#e8f2ff, #203040) !important;
}

.cm-s-midnight.CodeMirror {
    background-color: light-dark(#ffffff, #0F192A);
    color: light-dark(#848484,#D1EDFF);
    font-family: 'Consolas', 'Lucida Console', monospace;
}

.cm-s-midnight span.cm-COLOR {}

.light-theme .cm-s-midnight span.cm-BOLDCOLOR {
    font-weight: normal;
}

.light-theme .cm-s-midnight span.cm-COLOR-YELLOW {
    font-weight: bold;
}

.light-theme .cm-s-midnight span.cm-FADECOLOR {
    font-weight: bold;
}

.light-theme .cm-s-midnight span.cm-COLOR-TRANSPARENT {
    font-weight: bold;
}

.light-theme .cm-s-midnight span.cm-COLOR-WHITE {
    font-weight: bold;
}


.dark-theme .cm-s-midnight span.cm-BOLDCOLOR {
    font-weight: bold;
}

.dark-theme .cm-s-midnight span.cm-HEADER {
    font-weight: bold;
}

.dark-theme .cm-s-midnight span.cm-COMMAND {
    font-weight: bold;
}

.dark-theme .cm-s-midnight span.cm-MESSAGE_VERB {
    font-weight: bold;
}

.dark-theme .cm-s-midnight span.cm-METADATA {
    font-weight: bold;
}


.cm-s-midnight span.cm-FADECOLOR {
    color: light-dark(rgb(199, 199, 199), #777777);
}

.cm-s-midnight span.cm-COLOR-TRANSPARENT {
    color: light-dark(rgb(199, 199, 199), #777777);
}

.cm-s-midnight span.cm-COLOR-BLACK {
    color: light-dark(black, #555555);
}

.cm-s-midnight span.cm-COLOR-WHITE {
    color: light-dark(#dedede, #FFFFFF);
}

.cm-s-midnight span.cm-COLOR-GREY {
    color: #9D9D9D;
}

.cm-s-midnight span.cm-COLOR-DARKGREY {
    color: #6D6D6D;
}

.cm-s-midnight span.cm-COLOR-DARKGRAY {
    color: #6D6D6D;
}

.cm-s-midnight span.cm-COLOR-LIGHTGREY {
    color: light-dark(rgb(171, 171, 171), #c1c1c1);
}

.cm-s-midnight span.cm-COLOR-LIGHTGRAY {
    color: light-dark(rgb(171, 171, 171), #c1c1c1);
}

.cm-s-midnight span.cm-COLOR-GRAY {
    color: #9D9D9D;
}

.cm-s-midnight span.cm-COLOR-RED {
    color: #BE2633;
}

.cm-s-midnight span.cm-COLOR-DARKRED {
    color: #732930;
}

.cm-s-midnight span.cm-COLOR-LIGHTRED {
    color: #e06f8b;
}

.cm-s-midnight span.cm-COLOR-BROWN {
    color: light-dark(#ba7f41, #A46422);
}

.cm-s-midnight span.cm-COLOR-DARKBROWN {
    color: light-dark(#9a5f11, #493C2B);
}

.cm-s-midnight span.cm-COLOR-LIGHTBROWN {
    color: #EEB62F;
}

.cm-s-midnight span.cm-COLOR-ORANGE {
    color: light-dark(#ff7700, #EB8931);
}

.cm-s-midnight span.cm-COLOR-YELLOW {
    color: light-dark(#ffce00, #F7E26B);
}

.cm-s-midnight span.cm-COLOR-GREEN {
    color: #44891A;
}

.cm-s-midnight span.cm-COLOR-DARKGREEN {
    color: #2F484E;
}

.cm-s-midnight span.cm-COLOR-LIGHTGREEN {
    color: #A3CE27;
}

.cm-s-midnight span.cm-COLOR-BLUE {
    color: #31A2F2;
}

.cm-s-midnight span.cm-COLOR-DARKBLUE {
    color: #005784;
}

.cm-s-midnight span.cm-COLOR-LIGHTBLUE {
    color: #B2DCEF;
}

.cm-s-midnight span.cm-COLOR-PURPLE {
    color: #580780;
}

.cm-s-midnight span.cm-COLOR-PINK {
    color: #E06F8B;
}

.cm-s-midnight span.cm-NAME {
    color: #1DC116;
}

.cm-s-midnight span.cm-HEADER {
    color: light-dark(#7b47db, #AE81FF);
}

.cm-s-midnight span.cm-EQUALSBIT {
    color: #808080;
}

.cm-s-midnight span.cm-SPRITEMATRIX {
    color: yellow;
    font-style: italic;
}

.cm-s-midnight span.cm-ERROR {
    color: light-dark(red, white);
}

/* used to have background color of pink*/
.cm-s-midnight span.cm-ASSIGNMENT {
    color: light-dark(#7c699e, #AE81FF);
}

.cm-s-midnight span.cm-LOGICWORD {
    color: light-dark(rgb(185, 95, 219), #AE81FF);
}

.cm-s-midnight span.cm-BRACKET {
    color: light-dark(rgb(81, 112, 231), #D1EDFF);
}

.cm-s-midnight span.cm-ARROW {
    color: #C11D16;
}

.cm-s-midnight span.cm-DIRECTION {
    color: #C11DC1;
}

.cm-s-midnight span.cm-COMMAND {
    color: light-dark(#7b47db, #AE81FF);
}

.cm-s-midnight span.cm-MESSAGE_VERB {
    color: light-dark(#7b47db, #AE81FF);
}

.cm-s-midnight span.cm-MESSAGE {
    color: orange;
    font-style: italic;
}

.cm-s-midnight span.cm-METADATA {
    color: light-dark(#7b47db, #AE81FF);
}

.cm-s-midnight span.cm-METADATATEXT {
    color: light-dark(rgb(255, 127, 0), orange);
    font-style: italic;
}

span.cm-SOUND {
    color: orange;
    cursor: pointer;
    cursor: hand;
    text-decoration: underline;
}

.cm-s-midnight span.cm-SOUNDVERB {
    color: #AE81FF;
}

.cm-s-midnight span.cm-SOUNDEVENT {
    color: #AE81FF;
}

.systemMessage {
    color: light-dark(rgb(91, 74, 152), white);
}

.cm-s-midnight div.CodeMirror-selected {
    background: light-dark(#eeffee, #314D67) !important;
}

.cm-s-midnight .CodeMirror-gutters {
    background: light-dark(#f5f5f5, #0F192A);
    border-right: 1px solid;
}


.cm-s-midnight .CodeMirror-activeline .CodeMirror-gutter-elt {
    background: light-dark(#c1c3d1, #19315b);
}

.cm-s-midnight .CodeMirror-linenumber {
    color: light-dark(light-dark(#8b8b8b, white));
}

.cm-s-midnight .CodeMirror-cursor {
    border-left: 1px solid light-dark(#164, #F8F8F0) !important;
}

.cm-s-midnight div.CodeMirror-overwrite .CodeMirror-cursor {
    border-left: 7px solid light-dark(#164, #F8F8F0) !important;
}

.cm-s-midnight span.cm-MATRIX {
    color: yellow;
    font-style: italic;
}

.cm-s-midnight span.cm-IDENTIFIER {
    color: #1DC116;
    font-weight: bold;
}

.cm-s-midnight span.cm-LEVEL {
    color: light-dark(rgb(17, 99, 93), #AAAAAA);
}


.cm-s-midnight span.cm-comment {
    color: #428BDD;
    font-style: italic;
}

.cm-s-midnight span.cm-header {
    color: light-dark(#7b47db, #AE81FF);
}

.cm-s-midnight span.cm-atom {
    color: light-dark(#7b47db, #AE81FF);
}

.cm-s-midnight span.cm-number {
    color: #D1EDFF;
}

.cm-s-midnight span.cm-property,
.cm-s-midnight span.cm-attribute {
    color: #A6E22E;
}

.cm-s-midnight span.cm-keyword {
    color: #E83737;
}

.cm-s-midnight span.cm-string {
    color: #1DC116;
}

.cm-s-midnight span.cm-variable {
    color: #FFAA3E;
}

.cm-s-midnight span.cm-variable-2 {
    color: #FFAA3E;
}

.cm-s-midnight span.cm-def {
    color: #4DD;
}

.cm-s-midnight span.cm-error {
    background: #F92672;
    color: #F8F8F0;
}

.cm-s-midnight span.cm-bracket {
    color: light-dark(rgb(81, 112, 231), #D1EDFF);
}

.cm-s-midnight span.cm-tag {
    color: #449;
}

.cm-s-midnight span.cm-link {
    color: #AE81FF;
}

.cm-s-midnight .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: light-dark(black, white) !important;
}