/*
.uppertoolbar {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:default;
}*/


#uppertoolbar img {
	/*scale down to fit vertically*/
	height: 15px;
	/*center vertically*/
	vertical-align: middle;
}
#uppertoolbar {
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	scrollbar-width: none;

}

#uppertoolbar::-webkit-scrollbar {
  display: none;
}
  

  /* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}